<!-- footer start -->

<footer class="site-footer">
  <div>
    <hr />
    <p style="float:right;">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=encoredevlabs-20&marketplace=amazon&region=US&placement=1788625242&asins=1788625242&linkId=7fff8e7cc583a87161b04f52ba9c540c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color="></iframe>
    </p>
    <p>If you like my blog, please &nbsp;<a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe to the RSS Feed</span></a></p> 
    <p>You might also enjoy reading my book called <a href="https://books.google.com/books?id=2ZlUDwAAQBAJ" target="_blank">Hands-on Full-Stack Development with Swift</a>. Purchase a paperback copy or eBook from Amazon, Barnes and Noble or other online retailers.</p>
  </div>
</footer>

<!-- footer end -->
